.container2 {
  position: relative;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  top: 4em;
  padding-bottom: 3em;
}

.container2 .card {
  position: relative;
  height: 250px;
  background-color: #fff;
  display: flex;
  width: 45%;
  margin: 30px 0;
}

.container2 .card .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 106%;
  height: 100%;

  -webkit-box-shadow: 9px 9px 25px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 9px 25px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 9px 25px 6px rgba(0, 0, 0, 0.75);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.bgr-1 {
  background: rgba(255, 146, 10, 1);
}

.bgr-2 {
  background: rgba(84, 255, 82, 1);
}

.bgr-3 {
  background-color: rgba(169, 3, 41, 1);
}

.bgr-4 {
  background-image: linear-gradient(
    to right top,
    #e5ccda,
    #decae2,
    #d0cbea,
    #bcccf0,
    #a4cff1,
    #96d3f3,
    #87d8f2,
    #7adcee,
    #71e4f1,
    #69ecf3,
    #62f3f3,
    #5ffbf1
  );
}

.bgr-5 {
  background-image: linear-gradient(
    to right top,
    #0342d1,
    #7045ca,
    #9b4dc2,
    #ba5abb,
    #d16bb6,
    #e372ad,
    #f17ca6,
    #fb889f,
    #ff8e8e,
    #ff977c,
    #ffa26c,
    #fbb05f
  );
}

.bgr-6 {
  background-image: linear-gradient(
    to right top,
    #0be131,
    #96c600,
    #cba700,
    #eb8500,
    #f6643e,
    #f96547,
    #fc664f,
    #ff6857,
    #ff863e,
    #ffa722,
    #f5ca00,
    #d9eb1b
  );
}

.bgr-7 {
  background-image: linear-gradient(
    to left bottom,
    #36d62f,
    #00d592,
    #00ced9,
    #00bfff,
    #00abff,
    #8e9afd,
    #d284e2,
    #fb70b3,
    #ff7080,
    #ff834e,
    #df9c23,
    #acb317
  );
}

.bgr-8 {
  background-image: linear-gradient(
    to left bottom,
    #2f2fd6,
    #0070fa,
    #0096ef,
    #00b4cd,
    #00cdae,
    #50cd8e,
    #7cca6e,
    #a3c551,
    #aeaa31,
    #b48e1a,
    #b67211,
    #b35417
  );
}

.bgr-9 {
  background-image: linear-gradient(
    to left bottom,
    #2fd653,
    #49d95d,
    #5ddd66,
    #6de06f,
    #7ce379,
    #8adb6e,
    #96d465,
    #9fcc5d,
    #a8b743,
    #afa22d,
    #b28c1e,
    #b37617
  );
}

.bgr-10 {
  background-image: linear-gradient(
    to left bottom,
    #2f95d6,
    #00a9de,
    #00bcd9,
    #00ccc7,
    #11daad,
    #42da9f,
    #5fda90,
    #76da82,
    #63d07f,
    #4fc77c,
    #38bd79,
    #17b376
  );
}
.bgr-11 {
  background-image: linear-gradient(
    to left bottom,
    #e7e275,
    #d2e372,
    #bae472,
    #a0e476,
    #81e47d,
    #6ee38b,
    #5be199,
    #47dfa6,
    #54dbb5,
    #66d6c0,
    #7cd1c6,
    #92cbc8
  );
}

.bgr-12 {
  background-image: linear-gradient(
    to left bottom,
    #a46ced,
    #0099ff,
    #00b7ff,
    #00cce8,
    #00dabe,
    #4dd68e,
    #82ce58,
    #b4c119,
    #dba424,
    #ee8947,
    #ec7469,
    #d86b87
  );
}

.bgr-13 {
  background-image: linear-gradient(
    to left bottom,
    #7ded6c,
    #a9d33b,
    #c6b714,
    #da990f,
    #e57927,
    #e86b39,
    #e75e4a,
    #e35459,
    #e25966,
    #df5f72,
    #dc657d,
    #d86b87
  );
}

.container2 .card:hover .imgBx {
  width: 150px;
  height: 150px;
  left: -83px;
  top: calc(50% - 75px);
  transition: 0.5s ease-in-out;
  background-color: #3498db;
}

.container2 .card .imgBx::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  //text-transform: uppercase;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.container2 .card .imgBx img {
  max-width: 169px;
  transition: 0.5s ease-in-out;
}

.container2 .card:hover .imgBx img {
  max-width: 75px;
}

.container2 .card .content {
  position: absolute;
  right: 0;
  width: calc(100% - 75px);
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 4em;
}

.container2 .card .content h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.container2 .card .content a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #333;
  text-decoration: none;
  color: #fff;
}

@media screen and (width: 1024px) {
  .container2 .card:hover .imgBx {
    left: -105px;
  }
}

@media screen and (max-width: 992px) {
  nav {
    width: 100%;
  }

  .container2 {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    margin-top: 2em;
  }

  .container2 .card {
    width: 400px;
  }
}

@media screen and (max-width: 768px) {
  .container2 .card .content {
    padding: 4px;
    left: 5em;
  }

  .container2 .card .imgBx {
    width: 102%;
  }

  .container2 .card .imgBx img {
    max-width: 384px;
  }

  .card-images {
    width: 589px;
    height: 144px;
  }
}

@media screen and (max-width: 500px) {
  .container2 {
    z-index: 0;
    width: 65%;
    margin: 9px;
    padding-top: 2em;
  }

  .container2 .card .imgBx {
    width: 96%;
  }

  .container2 .card .imgBx img {
    width: 13em;
    height: auto;
  }

  /*.container2 .card {
        right: 10em;
    }*/
  .container2 .card:hover .imgBx {
    width: 91px;
    height: 113px;
    left: -47px;
  }
}

@media screen and (max-width: 425px) {
  .container2 {
    width: 91.9%;
  }
}

@media screen and (max-width: 375px) {
  .container2 {
    width: 90%;
    margin-left: 1em;
  }

  .container2 .card .content {
    left: 5em;
  }

  .container2 .card {
    width: 348px;
    margin-right: 0em;
  }

  .container2 .card .imgBx {
    width: 100%;
  }
}

@media screen and (max-width: 360px) {
  .container2 {
    width: calc(100% + 20px);
  }

  .container2 .card .content {
    left: 5em;
  }
}

@media screen and (max-width: 320px) {
  .nav-links {
  }

  .content-Text {
    width: 83%;
  }

  .container2 {
    //   background-color: red;
    width: calc(100% + 60px);
    margin: 0px;
  }

  .container2 .card {
    max-width: 300px;
    flex-direction: column;
    height: auto;
  }

  .container2 .card .imgBx {
    position: relative;
    width: 300px;
    height: 204px;
  }

  .container2 .card .imgBx,
  .container2 .card:hover .imgBx {
  }

  .container2 .card:hover .imgBx {
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background-color: #3498db;
    left: -61px;
  }

  .container2 .card .imgBx img,
  .container2 .card:hover .imgBx img {
    max-width: 260px;
  }

  .container2 .card .content {
    position: relative;
    width: 100%;
    top: -15em;
    left: 20px;
    padding: 0;
  }
}
